<!DOCTYPE HTML>
<html>
  <head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <canvas id="myCanvas" width="578" height="200"></canvas>
    <script>
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');
      var imageObj = new Image();

      imageObj.onload = function() {
        // draw cropped image
        var sourceX = 150;    //표현될 이미지의 x값
        var sourceY = 0;      //표현될 이미지의 y값
        var sourceWidth = 150;   //표현될 이미지의 width 값
        var sourceHeight = 300; //표현될 이미지의 height 값
        var destWidth = sourceWidth;  //canvas에 표현되는 width 값 (이미지 width 랑 다르면 이미지가 확대축소됨)
        var destHeight = sourceHeight;  //canvas에 표현되는 Height 값(이미지 width 랑 다르면 이미지가 확대축소됨)
        var destX = canvas.width / 2 - destWidth / 2;   //canvas에 이미지를 그릴 시작 x 값
        var destY = canvas.height / 2 - destHeight / 2; //canvas에 이미지를 그릴 시작 y 값

        context.drawImage(imageObj, sourceX, sourceY, sourceWidth, sourceHeight, 40, 40, destWidth, destHeight);
        // context.drawImage(imageObj, 40, 40, 100, 100);
      };
      imageObj.src = 'http://www.html5canvastutorials.com/demos/assets/darth-vader.jpg';
    </script>
  </body>
</html>
