
  <div class="jumbotron">
    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
  </div>
  <p>This is some text.</p>
  <p>This is another text.</p>
  <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p> 
  <h2>Well Size</h2>
  <div class="well well-sm">Small Well</div>
  <div class="well">Normal Well</div>
  <div class="well well-lg">Large Well</div>
  <h2>Alerts</h2>
  <div class="alert alert-success">
     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     <strong>Success!</strong> This alert box could indicate a successful or positive action.
   </div>
<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="img-thumbnail img-responsive center-block" alt="500x500" src="img/1.jpg" data-src="holder.js/500x500/auto" data-holder-rendered="true">
        </div>
      </div>
<hr class="featurette-divider">
<div class="row featurette">
        <div class="col-md-5">
          <img class="img-circle img-responsive center-block" alt="500x500" src="img/2.jpg" data-src="holder.js/500x500/auto" data-holder-rendered="true">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <a href="img/1.jpg" class="thumbnail">
              <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>
              <img src="img/1.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
            </a>
          </div>
          <div class="col-md-4">
            <a href="img/2.jpg" class="thumbnail">
              <p>Moustiers-Sainte-Marie: Considered as one of the "most beautiful villages of France".</p>
              <img class="img-circle" src="img/2.jpg" alt="Moustiers Sainte Marie" style="width:150px;height:150px">
            </a>
          </div>
          <div class="col-md-4">
            <a href="img/1.jpg" class="thumbnail">
              <p>The Cinque Terre: A rugged portion of coast in the Liguria region of Italy.</p>
              <img class="img-rounded" src="img/1.jpg" alt="Cinque Terre" style="width:150px;height:150px">
            </a>
          </div>
        </div>
