<html>
  <head>
    <% include ./header2.ejs %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <% include ./nav.ejs %>
    </nav>
    <div class="container-fluid" role="main" style="margin-top:100px">
      <% include ./body4.ejs %>
    </div>
  </body>
</html>
